# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [49]:
# libraries

import re
import pandas as pd
from pandas import json_normalize # replaced pandas.io.json to pandas as it will be deprecated and raises a warning
import requests

In [50]:
# populate this dict with the schools required

# the approach

# in switchup.org, select Search Bootcamps (783 Bootcampswith 37,535 reviews)
# the first 3 entries are ad-boosted, the rest are sorted by their reviews count
# populate the dict with the top-25 of schools in terms of reviews (50.7% of total reviews), you need name and id

# open the url of a school of choice, right-click, inspect
# find the name (path="/bootcamps/name") and id (bootcamp-id="id" or school-id="id") in the page-data

schools = {"le-wagon":10868, 
           "springboard":11035, 
           "udacity":11118, 
           "shecodes":11014, 
           "ironhack":10828, 
           "app-academy":10525, 
           "general-assembly":10761, 
           "designlab":10697, 
           "hackwagon-academy":10792, 
           "nucamp":10923, 
           "thinkful":11098, 
           "coding-dojo":10659, 
           "software-development-academy":11030, 
           "makers-academy":10874, 
           "product-gym":10959, 
           "actualize":10505, 
           "simplilearn":11016, 
           "nyc-data-science-academy":10925, 
           "the-tech-academy":11091, 
           "edureka":11739, 
           "careerist":11280, 
           "la-capsule":10853, 
           "hack-reactor":10788, 
           "brainstation":10571, 
           "codesmith":10643
          }

In [51]:
# define the functions to get the reviews for each school in the right format

#auxiliary function to apply regex and remove tags
# defines a regular expression pattern to match and remove HTML tags from text
TAG_RE = re.compile(r'<[^>]+>')
def remove_tags(x):
    return TAG_RE.sub('',x)

def get_comments_school(school):
    # defines url to make API call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])

    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [52]:
# populate the comments for the selected schools

# could you write this as a list comprehension? ;)
comments = [get_comments_school(school) for school in schools.keys()]

# comments = []

# for school in schools.keys():
#     print(school)
#     comments.append(get_comments_school(school))

comments = pd.concat(comments).reset_index()

In [53]:
pd.set_option("display.max_columns", None)

comments.head()

,index,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,createdAt,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,0,302549,Miguel Angel Escobedo,False,None,2023.0,False,Mechatronical Engineer,The best bootcamp,"<span class=""truncatable""><p></p><p>One of the...","<p>One of the things that I liked the most, is...",7/3/2023,2023-07-03,Data Science - Full-Time,{'image': None},5.0,[],5.0,5.0,5.0,"One of the things that I liked the most, is th...",le-wagon
1,1,302473,Arthur Philadelpho,False,None,2023.0,False,Entrepreneur,"Transformative, Intense, Immersive, Comfort-Zo...","<span class=""truncatable""><p></p><p>After comp...",<p>After completing the Le Wagon Web Developme...,6/29/2023,2023-06-29,Data Analytics,{'image': None},5.0,[],5.0,5.0,5.0,After completing the Le Wagon Web Development ...,le-wagon
2,2,302414,Warren Wisbeach,False,None,2023.0,False,,Wow! What a ride!,"<span class=""truncatable""><p></p><p>I recently...",<p>I recently completed Le Wagon&#39;s Full St...,6/28/2023,2023-06-28,Web Development - Full-Time,{'image': None},4.7,[],5.0,5.0,4.0,I recently completed Le Wagon's Full Stack Web...,le-wagon
3,3,302412,Anonymous,True,None,2023.0,False,,Excellent!,"<span class=""truncatable""><p></p><p>Really foc...",<p>Really focused on their students. It is a n...,6/28/2023,2023-06-28,Web Development - Full-Time,{'image': None},4.7,[],5.0,5.0,4.0,Really focused on their students. It is a nice...,le-wagon
4,4,302379,Alenka Triplat,False,None,2023.0,False,Management Consultant,"Amazing experience, learned a lot","<span class=""truncatable""><p></p><p>I decided ...",<p>I decided to join Le Wagon during a sabbati...,6/27/2023,2023-06-27,Data Science - Full-Time,{'image': None},5.0,[],5.0,5.0,5.0,I decided to join Le Wagon during a sabbatical...,le-wagon

In [54]:
# add school_id to comments

comments["school_id"] = comments["school"].map(schools)
comments.head()

,index,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,createdAt,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school,school_id
0,0,302549,Miguel Angel Escobedo,False,None,2023.0,False,Mechatronical Engineer,The best bootcamp,"<span class=""truncatable""><p></p><p>One of the...","<p>One of the things that I liked the most, is...",7/3/2023,2023-07-03,Data Science - Full-Time,{'image': None},5.0,[],5.0,5.0,5.0,"One of the things that I liked the most, is th...",le-wagon,10868
1,1,302473,Arthur Philadelpho,False,None,2023.0,False,Entrepreneur,"Transformative, Intense, Immersive, Comfort-Zo...","<span class=""truncatable""><p></p><p>After comp...",<p>After completing the Le Wagon Web Developme...,6/29/2023,2023-06-29,Data Analytics,{'image': None},5.0,[],5.0,5.0,5.0,After completing the Le Wagon Web Development ...,le-wagon,10868
2,2,302414,Warren Wisbeach,False,None,2023.0,False,,Wow! What a ride!,"<span class=""truncatable""><p></p><p>I recently...",<p>I recently completed Le Wagon&#39;s Full St...,6/28/2023,2023-06-28,Web Development - Full-Time,{'image': None},4.7,[],5.0,5.0,4.0,I recently completed Le Wagon's Full Stack Web...,le-wagon,10868
3,3,302412,Anonymous,True,None,2023.0,False,,Excellent!,"<span class=""truncatable""><p></p><p>Really foc...",<p>Really focused on their students. It is a n...,6/28/2023,2023-06-28,Web Development - Full-Time,{'image': None},4.7,[],5.0,5.0,4.0,Really focused on their students. It is a nice...,le-wagon,10868
4,4,302379,Alenka Triplat,False,None,2023.0,False,Management Consultant,"Amazing experience, learned a lot","<span class=""truncatable""><p></p><p>I decided ...",<p>I decided to join Le Wagon during a sabbati...,6/27/2023,2023-06-27,Data Science - Full-Time,{'image': None},5.0,[],5.0,5.0,5.0,I decided to join Le Wagon during a sabbatical...,le-wagon,10868

In [55]:
# check dtypes

comments.dtypes

index                int64
id                   int64
name                object
anonymous             bool
hostProgramName     object
graduatingYear     float64
isAlumni            object
jobTitle            object
tagline             object
body                object
rawBody             object
createdAt           object
queryDate           object
program             object
user                object
overallScore        object
comments            object
overall             object
curriculum          object
jobSupport          object
review_body         object
school              object
school_id            int64
dtype: object

In [56]:
# change dtypes to more relevant

comments = comments.astype({"isAlumni":bool, 
                            "overallScore":float, 
                            "overall":float, 
                            "curriculum":float, 
                            "jobSupport":float})

# convert graduation year to integer
comments["graduatingYear"] = comments.graduatingYear.round().astype("Int64")

In [57]:
# check for null values

comments.isna().sum()

index                  0
id                     0
name                   0
anonymous              0
hostProgramName    11410
graduatingYear       110
isAlumni               0
jobTitle            6072
tagline                2
body                   0
rawBody                0
createdAt              0
queryDate              0
program             2047
user                   0
overallScore          25
comments               0
overall               27
curriculum           446
jobSupport          2180
review_body            0
school                 0
school_id              0
dtype: int64

In [77]:
# rename columns

comments.rename(columns = {"id":"comment_id", 
                           "name":"reviewer_name", 
                           "hostProgramName":"host_program_name", 
                           "graduatingYear":"graduation_year", 
                           "isAlumni":"reviewer_is_alumni", 
                           "jobTitle":"job_title", 
                           "rawBody":"raw_body", 
                           "createdAt":"created_at", 
                           "queryDate":"query_date", 
                           "program":"program_name", 
                           "user":"user_image", 
                           "overallScore":"total_score", 
                           "overall":"overall_score", 
                           "curriculum":"curriculum_score", 
                           "jobSupport":"job_support_score", 
                           "school":"school_name"
                          }, inplace=True)

comments.head()

,index,comment_id,reviewer_name,anonymous,host_program_name,graduation_year,reviewer_is_alumni,job_title,tagline,query_date,program_name,total_score,overall_score,curriculum_score,job_support_score,review_body,school_name,school_id
0,0,302549,Miguel Angel Escobedo,False,None,2023,False,Mechatronical Engineer,The best bootcamp,2023-07-03,Data Science - Full-Time,5.0,5.0,5.0,5.0,"One of the things that I liked the most, is th...",le-wagon,10868
1,1,302473,Arthur Philadelpho,False,None,2023,False,Entrepreneur,"Transformative, Intense, Immersive, Comfort-Zo...",2023-06-29,Data Analytics,5.0,5.0,5.0,5.0,After completing the Le Wagon Web Development ...,le-wagon,10868
2,2,302414,Warren Wisbeach,False,None,2023,False,,Wow! What a ride!,2023-06-28,Web Development - Full-Time,4.7,5.0,5.0,4.0,I recently completed Le Wagon's Full Stack Web...,le-wagon,10868
3,3,302412,Anonymous,True,None,2023,False,,Excellent!,2023-06-28,Web Development - Full-Time,4.7,5.0,5.0,4.0,Really focused on their students. It is a nice...,le-wagon,10868
4,4,302379,Alenka Triplat,False,None,2023,False,Management Consultant,"Amazing experience, learned a lot",2023-06-27,Data Science - Full-Time,5.0,5.0,5.0,5.0,I decided to join Le Wagon during a sabbatical...,le-wagon,10868

In [78]:
# drop columns containing repetitions of info

comments.drop(["body", 
               "raw_body", 
               "created_at", 
               "user_image", 
               "comments"], axis=1, inplace=True, errors='ignore')

comments.head()

,index,comment_id,reviewer_name,anonymous,host_program_name,graduation_year,reviewer_is_alumni,job_title,tagline,query_date,program_name,total_score,overall_score,curriculum_score,job_support_score,review_body,school_name,school_id
0,0,302549,Miguel Angel Escobedo,False,None,2023,False,Mechatronical Engineer,The best bootcamp,2023-07-03,Data Science - Full-Time,5.0,5.0,5.0,5.0,"One of the things that I liked the most, is th...",le-wagon,10868
1,1,302473,Arthur Philadelpho,False,None,2023,False,Entrepreneur,"Transformative, Intense, Immersive, Comfort-Zo...",2023-06-29,Data Analytics,5.0,5.0,5.0,5.0,After completing the Le Wagon Web Development ...,le-wagon,10868
2,2,302414,Warren Wisbeach,False,None,2023,False,,Wow! What a ride!,2023-06-28,Web Development - Full-Time,4.7,5.0,5.0,4.0,I recently completed Le Wagon's Full Stack Web...,le-wagon,10868
3,3,302412,Anonymous,True,None,2023,False,,Excellent!,2023-06-28,Web Development - Full-Time,4.7,5.0,5.0,4.0,Really focused on their students. It is a nice...,le-wagon,10868
4,4,302379,Alenka Triplat,False,None,2023,False,Management Consultant,"Amazing experience, learned a lot",2023-06-27,Data Science - Full-Time,5.0,5.0,5.0,5.0,I decided to join Le Wagon during a sabbatical...,le-wagon,10868

In [60]:
# define the function to get the locations, courses and badges for each school, together with the school list

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns = ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])

    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school


    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    if "description" in school_df.columns:
        school_df["description"] = school_df["description"].apply(remove_tags)
    if "description" in badges_df.columns:
        badges_df["description"] = badges_df["description"].apply(remove_tags)
    
    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school, id)

    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

le-wagon
springboard
udacity
shecodes
ironhack
app-academy
general-assembly
designlab
hackwagon-academy
nucamp
thinkful
coding-dojo
software-development-academy
makers-academy
product-gym
actualize
simplilearn
nyc-data-science-academy
the-tech-academy
edureka
careerist
la-capsule
hack-reactor
brainstation
codesmith

In [79]:
locations = pd.concat(locations_list).reset_index()
locations.head()

,index,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,0,15803,"Melbourne, Australia",20.0,Australia,AU,31174.0,Melbourne,melbourne,NaN,NaN,NaN,NaN,le-wagon,10868
1,1,15904,"Casablanca, Morocco",44.0,Morocco,MA,31119.0,Casablanca,casablanca,NaN,NaN,NaN,NaN,le-wagon,10868
2,2,15906,"Buenos Aires, Argentina",60.0,Argentina,AR,31171.0,Buenos Aires,buenos-aires,NaN,NaN,NaN,NaN,le-wagon,10868
3,3,15964,"Brussels, Belgium",46.0,Belgium,BE,31125.0,Brussels,brussels,NaN,NaN,NaN,NaN,le-wagon,10868
4,4,16039,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,le-wagon,10868

In [80]:
# check dtypes
locations.dtypes

# rename
locations.rename(columns = {"id":"location_id", 
                           "country.id":"country_id", 
                           "country.name":"country_name", 
                           "country.abbrev":"country_abbreviation", 
                           "city.id":"city_id", 
                           "city.name":"city_name", 
                           "city.keyword":"city_keyword", 
                           "state.id":"state_id", 
                           "state.name":"state_name", 
                           "state.abbrev":"state_abbreviation", 
                           "state.keyword":"state_keyword", 
                           "school":"school_name"
                           }, inplace=True)

# change dtypes
locations["country_id"] = locations.country_id.round().astype("Int64")
locations["city_id"] = locations.city_id.round().astype("Int64")
locations["state_id"] = locations.state_id.round().astype("Int64")

# check for null values
locations.isna().sum()

# drop columns 
locations.drop(["description", 
               "city_keyword", 
               "state_keyword"
               ], axis=1, inplace=True, errors='ignore')

locations.head()

,index,location_id,country_id,country_name,country_abbreviation,city_id,city_name,state_id,state_name,state_abbreviation,school_name,school_id
0,0,15803,20,Australia,AU,31174,Melbourne,<NA>,NaN,NaN,le-wagon,10868
1,1,15904,44,Morocco,MA,31119,Casablanca,<NA>,NaN,NaN,le-wagon,10868
2,2,15906,60,Argentina,AR,31171,Buenos Aires,<NA>,NaN,NaN,le-wagon,10868
3,3,15964,46,Belgium,BE,31125,Brussels,<NA>,NaN,NaN,le-wagon,10868
4,4,16039,29,Mexico,MX,31175,Mexico City,<NA>,NaN,NaN,le-wagon,10868

In [81]:
courses = pd.concat(courses_list).reset_index()
courses.head()

   index                      courses    school  school_id
0      0               Data Analytics  le-wagon      10868
1      1     Data Science - Full-Time  le-wagon      10868
2      2     Data Science - Part-Time  le-wagon      10868
3      3  Web Development - Full-Time  le-wagon      10868
4      4  Web Development - Part-Time  le-wagon      10868

In [82]:
# rename
courses.rename(columns = {"courses":"course_name", 
                          "school":"school_name"
                         }, inplace=True)

courses.head()

   index                  course_name school_name  school_id
0      0               Data Analytics    le-wagon      10868
1      1     Data Science - Full-Time    le-wagon      10868
2      2     Data Science - Part-Time    le-wagon      10868
3      3  Web Development - Full-Time    le-wagon      10868
4      4  Web Development - Part-Time    le-wagon      10868

In [83]:
badges = pd.concat(badges_list).reset_index()
badges.head()

,index,name,keyword,description,school,school_id
0,0,Available Online,available_online,School offers fully online courses,le-wagon,10868
1,1,Flexible Classes,flexible_classes,School offers part-time and evening classes,le-wagon,10868
2,0,Available Online,available_online,School offers fully online courses,springboard,11035
3,1,Flexible Classes,flexible_classes,School offers part-time and evening classes,springboard,11035
4,2,Job Guarantee,job_guarantee,School guarantees job placement,springboard,11035

In [86]:
# rename
badges.rename(columns = {"name":"badge_name", 
                         "keyword":"badge_keyword", 
                         "description":"badge_description",
                         "school":"school_name"
                        }, inplace=True)
badges.head()

,index,badge_name,badge_keyword,badge_description,school_name,school_id
0,0,Available Online,available_online,School offers fully online courses,le-wagon,10868
1,1,Flexible Classes,flexible_classes,School offers part-time and evening classes,le-wagon,10868
2,0,Available Online,available_online,School offers fully online courses,springboard,11035
3,1,Flexible Classes,flexible_classes,School offers part-time and evening classes,springboard,11035
4,2,Job Guarantee,job_guarantee,School guarantees job placement,springboard,11035

In [87]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list).reset_index()
schools.head()

,index,website,description,LogoUrl,school,school_id
0,0,www.lewagon.com,Le Wagon is a global leader in immersive tech ...,https://d92mrp7hetgfk.cloudfront.net/images/si...,le-wagon,10868
1,0,www.springboard.com/?utm_source=switchup&utm_m...,Springboard is an online learning platform tha...,https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
2,0,www.udacity.com/?utm_source=switchup&utm_mediu...,Udacity is the trusted market leader in talent...,https://d92mrp7hetgfk.cloudfront.net/images/si...,udacity,11118
3,0,shecodes.io,SheCodes is a coding school that offers online...,https://d92mrp7hetgfk.cloudfront.net/images/si...,shecodes,11014
4,0,www.ironhack.com/en,Ironhack is a global tech school with 9 campus...,https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828

In [89]:
# rename
schools.rename(columns = {"description":"school_description", 
                          "LogoUrl":"logo_url", 
                          "school":"school_name"
                         }, inplace=True)
schools.head()

,index,website,school_description,logo_url,school_name,school_id
0,0,www.lewagon.com,Le Wagon is a global leader in immersive tech ...,https://d92mrp7hetgfk.cloudfront.net/images/si...,le-wagon,10868
1,0,www.springboard.com/?utm_source=switchup&utm_m...,Springboard is an online learning platform tha...,https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
2,0,www.udacity.com/?utm_source=switchup&utm_mediu...,Udacity is the trusted market leader in talent...,https://d92mrp7hetgfk.cloudfront.net/images/si...,udacity,11118
3,0,shecodes.io,SheCodes is a coding school that offers online...,https://d92mrp7hetgfk.cloudfront.net/images/si...,shecodes,11014
4,0,www.ironhack.com/en,Ironhack is a global tech school with 9 campus...,https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828

In [67]:
# to create the connection to sql from python

In [68]:
# libraries

import mysql.connector
import getpass 

import pandas as pd

In [69]:
password = getpass.getpass()

In [70]:
cnx = mysql.connector.connect(user = "root",
                              password = password,
                              host = "localhost")

cnx.is_connected()

True

In [71]:
cursor = cnx.cursor()

In [99]:
query = ("""CREATE DATABASE IF NOT EXISTS cli""")

cursor.execute(query)

In [100]:
# create sqlalchemy engine

from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user="root", 
                                                                           pw=password, 
                                                                           db="cli"))

In [101]:
# validating tables

table_validation_dict = {"comments":["comment_id", 
                                     "reviewer_name", 
                                     "anonymous", 
                                     "host_program_name", 
                                     "graduation_year", 
                                     "reviewer_is_alumni", 
                                     "job_title", 
                                     "tagline", 
                                     "query_date", 
                                     "program_name", 
                                     "total_score", 
                                     "overall_score", 
                                     "curriculum_score", 
                                     "job_support_score", 
                                     "review_body", 
                                     "school_name", 
                                     "school_id"], 
                         "courses":["course_name", 
                                    "school_name", 
                                    "school_id"], 
                         "locations":["location_id", 
                                      "country_id", 
                                      "country_name", 
                                      "country_abbreviation", 
                                      "city_id", 
                                      "city_name", 
                                      "state_id", 
                                      "state_name", 
                                      "state_abbreviation", 
                                      "school_name", 
                                      "school_id"], 
                         "badges":["badge_name", 
                                   "badge_keyword", 
                                   "badge_description", 
                                   "school_name", 
                                   "school_id"], 
                         "schools":["website", 
                                    "school_description", 
                                    "logo_url", 
                                    "school_name", 
                                    "school_id"]
                        }


def table_validation(dict_tables):
    for column in dict_tables["comments"]:
        if column not in comments.columns:
            raise Exception("Required data is missing from the extraction")
    for column in dict_tables["courses"]:
        if column not in courses.columns:
            raise Exception("Required data is missing from the extraction")
    for column in dict_tables["locations"]:
        if column not in locations.columns:
            raise Exception("Required data is missing from the extraction")
    for column in dict_tables["badges"]:
        if column not in badges.columns:
            raise Exception("Required data is missing from the extraction")
    for column in dict_tables["schools"]:
        if column not in schools.columns:
            raise Exception("Required data is missing from the extraction")
    return "Data is valid"
    
print(table_validation(table_validation_dict))
    
# creating tables to import

comments_to_import = comments[table_validation_dict["comments"]]
courses_to_import = courses[table_validation_dict["courses"]]
locations_to_import = locations[table_validation_dict["locations"]]
badges_to_import = badges[table_validation_dict["badges"]]
schools_to_import = schools[table_validation_dict["schools"]]

# importing tables to database

comments_to_import.to_sql("comments", con = engine, if_exists = "replace", index= False)
courses_to_import.to_sql("courses", con = engine, if_exists = "replace", index= False)
locations_to_import.to_sql("locations", con = engine, if_exists = "replace", index= False)
badges_to_import.to_sql("badges", con = engine, if_exists = "replace", index=False)
schools_to_import.to_sql("schools", con = engine, if_exists = "replace", index= False)

Data is valid

25

In [102]:
# assigning primary keys

primary_keys = {"comments":"comment_id", 
                "locations":"location_id", 
                "schools":"school_id"
               }


for table,pk in primary_keys.items():
    query = ("ALTER TABLE cli."+table+"""
              ADD PRIMARY KEY ("""+pk+");")
    cursor.execute(query)

In [103]:
# assigning foreign keys

foreign_keys = {"comments":"school_id|schools(school_id)", 
                "locations":"school_id|schools(school_id)", 
                "courses":"school_id|schools(school_id)", 
                "badges":"school_id|schools(school_id)"
               }

for table,fk in foreign_keys.items():
    query = ("ALTER TABLE cli."+table+"""
              ADD FOREIGN KEY ("""+fk.split("|")[0]+") REFERENCES "+fk.split("|")[1]+";")
    cursor.execute(query)